:root {
font-size: 60%;

--color-background: #ffffff;

--color-behind-background: #FFFFFF ;

--main-color: #FF0000 ;

--soft-main-color: #F05E5E ;
--color-base: black ;

--color-title: ;
--color-text: ;
--color-button: #524d4d ;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

body {
    background-color: var(--color-background);
    font-family: 'Roboto', sans-serif;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

body, input, button, textarea{
    font: 400 1.6rem Roboto;
    color: var(--color-base);
}

.container{
    width: 95vw;
    max-width: 700px;
}

a {
    text-decoration: none;
    color: var(--color-base);
}

@media (min-width: 700px){
    :root{
        font-size: 65%;
    }

}